attrs==25.3.0
cryptography==45.0.5
fastjsonschema==2.21.1
gfapy==1.2.3
ipython==8.35.0
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
narwhals==1.32.0
nbformat==5.10.4
numpy==2.2.5
referencing==0.36.2
rpds-py==0.24.0
scikit-learn==1.6.1
scipy==1.15.2
threadpoolctl==3.6.0
biopython==1.85
pandas==2.2.3
matplotlib==3.10.1
networkx==3.4.2
optuna==4.2.1
plotly==6.0.1
requests==2.32.3
sqlalchemy==2.0.39
tqdm==4.67.1
pymongo==4.11
pyyaml==6.0.2
pytest
